<div class='mt4'>
  <h3>Đăng khóa học</h3>
  <form method='POST' action='/courses/store'>
    <div class='form-group'>
      <label for='nameCourse'>Tên khóa học</label>
      <input
        type='text'
        class='form-control'
        id='descriptionCourse'
        name='name'
      />
    </div>
    <div class='form-group'>
      <label for='descriptionCourse'>Mô tả khóa học</label>
      <input
        type='text'
        class='form-control'
        id='descriptionCourse'
        name='description'
      />
    </div>
    <div class='form-group'>
      <label for='imgCourse'>Image URL</label>
      <input type='text' class='form-control' id='imgCourse' name='image' />
    </div>
    <div class='form-group'>
      <label for='slugCourse'>Slug</label>
      <input type='text' class='form-control' id='slugCourse' name='slug' />
    </div>
    <div class='form-group'>
      <label for='videoIdCourse'>Video ID</label>
      <input
        type='text'
        class='form-control'
        id='videoIdCourse'
        name='videoId'
      />
    </div>
    <button type='submit' class='btn btn-primary'>Thêm khóa học</button>
  </form>
</div>